.padre {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5rem;
}

.hijo {
    width: 5rem;
    height: 5rem;
    border: 0.1rem solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.mensaje-error{
    width: 20rem;
    height: 10rem;
}